type project
authors Alexey Zimarev
description
	Autofac container adapter for ServiceStack with per-request scope
tags
	autofac servicestack ioc di
owners alexey_zimarev
projectUrl https://github.com/alexeyzimarev/Autofac.Extras.ServiceStack
licenseUrl http://opensource.org/licenses/mit-license.php